body {
	color: #ff0606 !Important;
	background: #ff0606 !Important;
}
a {
	color: #ff0606 !Important;
}
tbody, .dropdown-usermenu>li>a {
	color: #73879C !Important;
}
.btn-info, .btn-success, .btn-default, .btn-danger {
	background: #ff0606 !Important;
	border-color: #ff0606 !Important;
	color: #fff !Important;
}
.btn-primary{
	background: #73879C !Important;
	border-color: #73879C !Important;
	color: #fff !Important;
}
/*.nav.navbar-nav>li>a {
	color: #ff0606 !Important;
}*/
.profile_info h2, .profile_info span,.nav.side-menu>li>a, .nav.child_menu>li>a  {
    color: #fff !Important;
}
.nav_title {
	background: #A20404 !Important;
}
.btn-publish {
	background-color: #5cb85c;
    border-color: #4cae4c;
	color: #fff !Important;
}